{
	"root": true,
	"extends": ["next/core-web-vitals", "prettier"],
	"rules": {
		"arrow-body-style": ["error", "as-needed"],
		"prefer-destructuring": [
			"error",
			{
				"VariableDeclarator": {
					"array": true,
					"object": true
				},
				"AssignmentExpression": {
					"array": false,
					"object": false
				}
			}
		],
		"prefer-template": "error"
	}
}
