/node_modules
.*cache

# next.js
/.next/
/out/

# production
/public/registerServiceWorker.js
/public/serviceWorker.js
/*offline*.zip

# server-side files
/upload
/sqlite.db

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
