public-hoist-pattern[]=*@heroui/*
public-hoist-pattern[]=*eslint-plugin*
public-hoist-pattern[]=color2k
public-hoist-pattern[]=glob
public-hoist-pattern[]=immer
public-hoist-pattern[]=postcss-load-config
public-hoist-pattern[]=zustand
