public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*eslint-plugin*
public-hoist-pattern[]=glob
public-hoist-pattern[]=immer
public-hoist-pattern[]=postcss-load-config
public-hoist-pattern[]=zustand
