{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindAttributes": ["className", "classNames", "itemClasses", "tw"],
	"tailwindFunctions": ["cn"],
	"objectWrap": "collapse",
	"quoteProps": "as-needed",
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true
}
