{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindAttributes": ["className", "classNames", "itemClasses", "tw"],
	"tailwindFunctions": ["cn"],
	"bracketSpacing": false,
	"printWidth": 120,
	"quoteProps": "as-needed",
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"overrides": [
		{
			"files": ".eslintrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
