.beverage {
	background-image: url('/assets/sprites/beverages.webp');
}

.cooker {
	background-image: url('/assets/sprites/cookers.webp');
}

.customer_normal {
	background-image: url('/assets/sprites/customer_normal.webp');
}

.customer_rare {
	background-image: url('/assets/sprites/customer_rare.webp');
}

.customer_special {
	background-image: url('/assets/sprites/customer_special.webp');
}

.ingredient {
	background-image: url('/assets/sprites/ingredients.webp');
}

.ornament {
	background-image: url('/assets/sprites/ornaments.webp');
}

.recipe {
	background-image: url('/assets/sprites/recipes.webp');
}

.png-beverage {
	background-image: url('/assets/sprites/beverages.png');
}

.png-cooker {
	background-image: url('/assets/sprites/cookers.png');
}

.png-customer_normal {
	background-image: url('/assets/sprites/customer_normal.png');
}

.png-customer_rare {
	background-image: url('/assets/sprites/customer_rare.png');
}

.png-customer_special {
	background-image: url('/assets/sprites/customer_special.png');
}

.png-ingredient {
	background-image: url('/assets/sprites/ingredients.png');
}

.png-ornament {
	background-image: url('/assets/sprites/ornaments.png');
}

.png-recipe {
	background-image: url('/assets/sprites/recipes.png');
}
