.beverage {
	background-image: url('/assets/sprite/beverages.webp');
}

.customer_normal {
	background-image: url('/assets/sprite/customer_normal.webp');
}

.customer_rare {
	background-image: url('/assets/sprite/customer_rare.webp');
}

.customer_special {
	background-image: url('/assets/sprite/customer_special.webp');
}

.ingredient {
	background-image: url('/assets/sprite/ingredients.webp');
}

.kitchenware {
	background-image: url('/assets/sprite/kitchenwares.webp');
}

.recipe {
	background-image: url('/assets/sprite/recipes.webp');
}
