@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-dotted-offset2 {
	@apply underline decoration-dotted underline-offset-2;
}

::-webkit-scrollbar {
	@apply h-2 w-2;
}

::-webkit-scrollbar-thumb:horizontal {
	@apply rounded-2xl bg-default-300;
}

::-webkit-scrollbar-thumb:vertical {
	@apply rounded-2xl bg-default-300;
}

::-webkit-scrollbar-track-piece {
	@apply rounded-2xl bg-default-100;
}

:not(body) div:has(> .driver-active-element) {
	@apply p-1;
}
